[submodule "examples/go-json-rest"]
	path = examples/go-json-rest
	url = git@github.com:ant0ine/go-json-rest.git
[submodule "examples/negroni-simple"]
	path = examples/negroni-simple
	url = git@github.com:adamar/Negroni-Example.git
